body {
    background-color: #000000ea;
    /*#000000ea*/
}

#barrasepara {
    position: absolute;
    border: solid rgba(105, 105, 105, 0.185) 1px;
    border-radius: 2px;
    width: 1368px;
    margin-left: -10px;
    margin-top: 74px;
    
}

/* BARRA DE NAVEGAÇÃO DROPDOWN*/
#barracor {
    position: absolute;
    background-color: #AF4A24;
    width: 1351px;
    height: 60px;
    margin-left: -8px;
}

.divmenu {
    margin-left: 535px;
    margin-top: -20px;
}

.menu ul li{
	background-color: #AF4A24;
	float: left;
	width: 200px;
	height: 50px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	font-size: 24px;
	position: relative;
    z-index: 3;
    border-radius: 8px;
    padding-top: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

.menu ul li:hover{
	background-color: #552c1e;
    border-radius: 8px;
}

.menu ul{
	padding: 0px;
    border-radius: 8px;
}

.menu ul ul{
	display: none;
    border-radius: 8px;
}

.menu ul li:hover > ul{
	display:block;
    border-radius: 8px;
}

.menu ul ul ul{
	margin-left: 201px;
	top: 0px;
	position: absolute;
    border-radius: 8px;
}

.menu ul ul li:hover{
	background-color: #221c1b;
    border-radius: 8px;
}

.menu ul ul ul li:hover{
	background-color: #062a66;
    border-radius: 8px;
}

.menu a{
	color: white;
	text-decoration: none;
}

/* Logo da equipe */
#logo {
    height: 57px;
    margin-top: 3px;
    margin-left: 50px;
}

.informacoesUsuario {
    position: absolute;
    background-color: #AF4A24;
    width: 1335px;
    height: 550px;
    margin-top: 90px;
    border-radius: 10px;
}

.anunciosUser {
    position: absolute;
    margin-top: 70px;
    margin-left: -8px;
}

#tUsuario {
    text-align: center;
    color: snow;
    border: solid 1px snow;
    background-color: #AF4A24;
    border-radius: 5px;
    width: 1350px;
}

.box {
    position: absolute;
    background-color: rgb(36, 36, 36);
    width: 1348px;
    height: 500px;
    margin-left: -8px;
    margin-top: -10px;
}

.box2 {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row; 
    flex-direction: row;
    background-color: #802f14;
    height: 670px;
    border-radius: 5px;
    border: solid black 2px;
    margin-top: 20px;
    border: solid snow 1px;

}

.dadosUsuario {
    list-style-type: none;
    border: solid white 2px;
    margin-left: 90px;
    height: 250px;
    width: 180px;
    border-radius: 4px;
}

.barraUsuarios {
    position: absolute;
    text-align: center;
    color: snow;
    margin-top: 60px;
}

.imgVeiculo {
    margin-left: -40px;
    width: 220px;
    height: 222px;
}

.divVisualizarUsuario {
    margin-top: -5px;
    height: 24px;
    margin-left: -40px;
    background-color: #131313;
    color: snow;
    text-decoration: none;
    text-align: center;
    border: solid #7a7a7a 1px;  
}

.visualizarUsuario {
    position: absolute;
    text-decoration: none;
    color: snow;
    margin-top: 5px;
    margin-left: -108px;
    
}