body {
    background-color: #080808ea;
}

/* BARRA DE NAVEGAÇÃO */

/* Logo da equipe */
#logo {
    position: absolute;
    width: 100px;
    height: 50px;
    margin-top: -55px;
    margin-left: 30px;
}



#logo:hover {
    margin-top: 20px;
    position: absolute;
    background-color: #AF4A24;
    box-shadow: 0 0 15px black;
    transform: scale(1.6);
    border-radius: 12px;
}

/* FLEXBOX */
.box {
    display: flex;
    flex-direction: row-reverse;
    background-color: #AF4A24;
    margin-left: -50px;
    width: 1408px;
    margin-top: -8px; /* -8 */
    border: solid rgb(0, 0, 0) 1px;
}

/* LINKS BARRA */
.links {
    padding: 20px;
    margin-right: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    
}

#barrasepara {
    position: absolute;
    border: solid rgba(105, 105, 105, 0.185) 1px;
    border-radius: 2px;
    width: 1368px;
    margin-left: -10px;
    margin-top: 8px;
    
}

.links:hover {
    transform: scale(1.2);
    background-color: #dd5b2c;
    border-radius: 10px;
    height: 10px;
}

.tlink {
    text-decoration: none;
    color: Snow;
    
}

#pesquisar {
    position: absolute;
    margin-top: -44px;
    margin-left: 260px;
}

#pesquisarbt {
    color: snow;
    background-color:#dd5b2c;
    border: none;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
    height: 30px;
    font-family: 'Source Sans Pro', sans-serif;
}

#pesquisarbt:hover {
    transform: scale(1.2);
    background-color: #dd5b2c;
    border-radius: 10px;
    height: 30px;
    box-shadow:inset 0 -4px 0 0 #a84622(0,0,0,.2);
    font-family: 'Source Sans Pro', sans-serif;
    
}

.fotouser {
    width: 200px;
    height: 190px;
    margin-left: 555px;
    margin-top: 5px;
    border-radius: 10px;
}

#fotodeperfil {
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-top: -10px;
    border-radius: 5px;
}

.divprincipal {
    position: absolute;
    margin-top: 300px;
    border: solid  1px;
    width: 1320px;
    height: 800px;
    background-color: #d15528;
    border: solid rgba(158, 158, 158, 0.226);
    border-radius: 3px;
    margin-left: 5px;
}

#inputfoto {
    position: absolute;
    margin-top: 200px;
    margin-left: -152px;
}

.box2{
    background-color: #c75126;
    height: 500px;
    margin-top: 50px;
    
}


.flex-container {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.flex-container2 {
    width: 600px;
    height: 60px;
    margin-left: 800px;
    margin-top: -410px;
    
}

.inputs {
    position: absolute;
    height: 15px;
    margin-top: -20px;
    width: 450px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #c5c6d0;
    color: white;
    text-align: right;
    font-size: large;
    
}

/* Configurações place holder */
input::placeholder {
    color: rgba(255, 255, 255, 0.911);
  }
/* Ao clicar no input, placeoholder desaparece */
  input:focus::-webkit-input-placeholder {
    color: transparent;
 }
 input:focus:-moz-placeholder { /* Firefox 18- */
    color: transparent;  
 }
 input:focus::-moz-placeholder {  /* Firefox 19+ */
    color: transparent;  
 }
 input:focus:-ms-input-placeholder {  
    color: transparent;  
 }


h2 {
    color: snow;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    font-style: normal;
    font-size: x-large;
}

.itens {
    position: absolute;
    margin-left: -20px;
    margin-top: -35px;
    
}

.itens2 {
    position: absolute;
    margin-left: 750px;
    margin-top: -35px;
}

.item {
    position: relative;
    list-style-type: none;
    padding-top: 25px;
}

#alterarbt {
    position: absolute;
    margin-left: -218px;
    margin-top: -5px;
    background: #AF4A24;
    box-shadow: none;
    height: 45px;
    width: 160px;
    box-shadow: #83371b 2px 2px;
    border: solid black 1px;
    color: snow;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    border-radius: 5px;
}

textarea:focus, input:focus, select:focus {
    outline: 0;
}

#alterarbt:hover {
    transform:scale(1.2);
    font-family: 'Poppins', sans-serif;
}

#barrameio {
    position: absolute;
    border: solid rgba(255, 255, 255, 0.178) 1px;
    width: 1px;
    height: 400px;
    margin-top: 30px;
    margin-left: 650px;
    background-color: rgba(255, 255, 255, 0.411);
    border-radius: 5px;
}


#barravertical {
    position: absolute;
    border: solid rgba(255, 255, 255, 0.521) 1px;
    width: 1px;
    height: 500px;
    margin-left: 670px;
    margin-top: -400px;
    background-color: rgba(255, 255, 255, 0.692);
}
