body {
    background-color: rgb(27, 27, 27);
}

/* BARRA DE NAVEGAÇÃO DROPDOWN*/
#barracor {
    position: absolute;
    background-color: #AF4A24;
    width: 1366px;
    height: 60px;
    margin-left: -8px;
}

.divmenu {
    margin-left: 535px;
    margin-top: -20px;
}

.menu ul li{
	background-color: #AF4A24;
	float: left;
	width: 200px;
	height: 50px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	font-size: 24px;
	position: relative;
    z-index: 3;
    border-radius: 8px;
    padding-top: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

.menu ul li:hover{
	background-color: #552c1e;
    border-radius: 8px;
}

.menu ul{
	padding: 0px;
    border-radius: 8px;
}

.menu ul ul{
	display: none;
    border-radius: 8px;
}

.menu ul li:hover > ul{
	display:block;
    border-radius: 8px;
}

.menu ul ul ul{
	margin-left: 201px;
	top: 0px;
	position: absolute;
    border-radius: 8px;
}

.menu ul ul li:hover{
	background-color: #221c1b;
    border-radius: 8px;
}

.menu ul ul ul li:hover{
	background-color: #062a66;
    border-radius: 8px;
}

.menu a{
	color: white;
	text-decoration: none;
}

/* Logo da equipe */
#logo {
    height: 57px;
    margin-top: 3px;
    margin-left: 50px;
}

/* Input */
.inputs {
    position: absolute;
    height: 15px;
    margin-top: -20px;
    width: 450px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #AF4A24;
    color: rgb(0, 0, 0);
    text-align: right;
    font-size: large;
  }

/* lista e ul */
.itens {
  position: absolute;
  margin-left: -20px;
  margin-top: 50px;
}

.item {
  position: relative;
  list-style-type: none;
  padding-top: 25px;
  color: #fcfcfc;
  color: black;
}

.fotoCarro {
    width: 500px;
    border-radius: 20px;
    margin-left: 400px;
    margin-top: 10px;
}

li {
    list-style-type: none;
}


.dadosAnuncio {
    margin-left: 590px;
    text-align: center;
    /*background-color: #AF4A24;*/
    flex-direction: row;
}

.dadoAnuncio {
    width: 200px;
    margin-top: 30px;
    border-radius: 5px;
    color: rgb(214, 97, 19);
    font-size: 28px;
    text-align: left;
    margin-left: 20px;
}

.informacoesCarro {
    background-color: #fffffff1;
    text-align: center;
    margin-left: -445px;
    border-radius: 10px;
    width: 800px;
    height: 500px;

}

.informacoesCarro2 {
    position: absolute;
    background-color: #fffffff1;
    width: 400px;
    border-radius: 10px;
    height: 500px;
    margin-left: 420px;
    margin-top: -500px;
}

.inputLance {
    margin-top: 10px;
    margin-left: -80px;
    height: 20px;
    width: 200px;
}

.informacoesAnuncio {
    margin-left: -150px;
    width: 200px;
    display: block;
}

.boxInformacoes {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.carroNome {
    padding-top: 20px;
}

.info {
    position: absolute;
    margin-top: -12px;
    color: rgb(82, 82, 82);
    font-size: 15px;
    display: block;
}

h2 {
    text-align: center;
}

h1 {
    color: green;
}

