@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/* BARRA DE NAVEGAÇÃO DROPDOWN*/
#barracor {
  position: absolute;
  background-color: #AF4A24;
  width: 1351px;
  height: 60px;
  margin-left: -8px;
}

.divmenu {
  margin-left: 535px;
  margin-top: -20px;
}

.menu ul li{
background-color: #AF4A24;
float: left;
width: 200px;
height: 50px;
display: inline-block;
text-align: center;
line-height: 40px;
font-size: 24px;
position: relative;
  z-index: 3;
  border-radius: 8px;
  padding-top: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

.menu ul li:hover{
background-color: #552c1e;
  border-radius: 8px;
}

.menu ul{
padding: 0px;
  border-radius: 8px;
}

.menu ul ul{
display: none;
  border-radius: 8px;
}

.menu ul li:hover > ul{
display:block;
  border-radius: 8px;
}

.menu ul ul ul{
margin-left: 201px;
top: 0px;
position: absolute;
  border-radius: 8px;
}

.menu ul ul li:hover{
background-color: #221c1b;
  border-radius: 8px;
}

.menu ul ul ul li:hover{
background-color: #062a66;
  border-radius: 8px;
}

.menu a{
color: white;
text-decoration: none;
}

/* Logo da equipe */
#logo {
  height: 57px;
  margin-top: 3px;
  margin-left: 50px;
}

/* Barra inferior */
#barrasepara {
  position: absolute;
  border: solid rgba(0, 0, 0, 0.5) 1px;
  border-radius: 2px;
  width: 1368px;
  margin-left: -10px;
  margin-top: 65px;
  
}

/* Logo da equipe */
#logo {
  position: absolute;
  width: 100px;
  height: 50px;
  margin-top: -55px;
  margin-left: 30px;
}


/* LINKS BARRA */
.links {
  padding: 20px;
  margin-right: 30px;
  font-family: 'Poppins', sans-serif;
  
}

.links:hover {
  transform: scale(1.2);
  background-color: #dd5b2c;
  border-radius: 20px;
  height: 10px;
}

.tlink {
  text-decoration: none;
  color: Snow;
  
}
/*Login*/
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: absolute;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin-top: 90px;
  margin-left: -30px;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #af4a2a;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #af4a2a;
}
.form .caminho-cadastro {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .caminho-cadastro a {
  color: #af4a2a;
  text-decoration: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #af4a2a; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #af4a2a, #af4a2a);
  background: -moz-linear-gradient(right, #af4a2a, #af4a2a);
  background: -o-linear-gradient(right, #af4a2a, #af4a2a);
  background: linear-gradient(to left, #af4a2a, #af4a2a);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

#botao {
  background-color: #af4a2a;
  color: snow;
}